#example_finder_content_type {
    width: auto;
}

#example_finder_result .bad-examples ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.missing_language {
    margin-bottom: 10px;
    padding: 10px;
}

.missing_language.notice {
    border: 3px solid transparent;
}

.missing_language.error {
    border: 3px solid #aa0000;/* TODO: use $ez-color-warning-dark from ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/_custom.scss */
}

table.language-usage td.disabled {
    text-decoration: line-through;
    opacity: 0.5;
}

table.language-usage td.nonexistent {
    background-color: #aa0000;/* TODO: use $ez-color-warning-dark from ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/_custom.scss */
    color: white;
}
